{% extends "layout.html" %}

{% block title %}
<h1>Inserisci intervista</h1>
{% endblock %}

{% block content %}
<form action="addrecord/" method="post">
    {% csrf_token %}
    <label class="form-label">Nome:</label><br>
    <input name="nome">
    <br><br>
    <label class="form-label">Commento:</label><br>
    <textarea class="form-control" name="commento"></textarea>
    <br><br>
    <label class="form-label">Collaboratore:</label><br>
    <select class="form-select" name="collaboratore">
        {% for collaboratore in collaboratori %}
        <option value={{ collaboratore.nome }}>
            {{ collaboratore.nome }}
        </option>
        {% endfor %}
    </select>
    <br><br>
    <input class="btn btn-success" type="submit" value="Submit">
    <button class="btn btn-danger"><a href="interviste/">Torna indietro</a></button>
</form>
{% endblock %}