{% extends "layout.html" %}
{% load static %}

{% block title %}
Lista interviste
{% endblock %}

{% block content %}
<div class="flex flex-1 grid grid-cols-4 grid-flow-rows gap-4 px-2">
    {% for intervista in interviste %}
    <div class="bg-azzurro rounded">
        {{ intervista }}
    </div>
    {% endfor %}
</div>
<div class="flex p-2">
    <div class="flex grow justify-center">
        <a class="outline-none hover:bg-magenta transition bg-verde rounded p-2 text-black text-sm mx-8"
            href="new/">Aggiungi
            commento</a>
        <a class="outline-none hover:bg-magenta transition bg-arancione rounded p-2 text-black text-sm mx-8"
            href="/">Torna
            alla home</a>
    </div>
</div>
{% endblock %}