{% extends "layout.html" %}

{% block title %}
Inserisci intervista
{% endblock %}

{% block content %}
<form action="store/" method="post">
    {% csrf_token %}
    <div class="flex flex-col max-w-screen mx-auto items-center pt-5">
        <div class="pt-5">
            <label class="text-white">Nome:</label><br>
            <input required type="text" name="cliente">
        </div>
        <div class="pt-5">
            <label class="text-white">Commento:</label><br>
            <textarea required type="text" name="commento"></textarea>
        </div>
        <div class="pt-5">
            <label class="text-white">Ruolo:</label><br>
            <div class="flex">
                <select required type="text" name="collaboratore">
                    {% for collaboratore in collaboratori %}
                    <option value={{ collaboratore.codiceFiscale }}>
                        {{ collaboratore.nome }} - {{ collaboratore.codiceFiscale }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="flex justify-between pt-5">
            <input
                class="cursor-pointer mr-10 outline-none hover:bg-green-300 transition bg-green-400 rounded p-2 text-white text-sm"
                type="submit" value="Submit">
            <a class="outline-none hover:bg-yellow-300 transition bg-yellow-400 rounded p-2 text-black text-sm"
                href="/interviste">Torna indietro</a>
        </div>
    </div>
</form>
{% endblock %}