{% extends "layout.html" %}

{% block title %}
    Lista interviste
{% endblock %}

{% block content %}
<div class="card-wrapper" style="display: flex; flex-direction: row;">
    {% for intervista in interviste %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Intervista di {{ intervista.cliente }}</h5>
            <p>Effettuata in data {{ intervista.data }}</p>
            <p>Rilasciata a {{ intervista.collaboratore }}</p>
            <a href="#" class="btn btn-primary">Apri</a>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<div class="button-wrapper">
    <a href="new/">Aggiungi commento</a>
    <a href="/">Torna alla home</a>
</div>
{% endblock %}
