{% extends "layout.html" %}

{% block title %}
<h1>Inserisci collaboratore</h1>
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <form action="addrecord/" method="post">
        {% csrf_token %}
        <label class="form-label">Nome</label><br>
        <input required type="text" name="nome">
        <br><br>
        <label class="form-label">Nome</label><br>
        <input required type="text" name="nome">
        <br><br>
        <label class="form-label">Nome</label><br>
        <input required type="text" name="nome">
        <br><br>
        <label class="form-label">Nome</label><br>
        <input required type="text" name="nome">
        <br><br>
        <label class="form-label">Nome</label><br>
        <input required type="text" name="nome">
        <br><br>
        <label class="form-label">Nome</label><br>
        <input required type="text" name="nome">
        <br><br>
        <label class="form-label">Nome</label><br>
        <input required type="text" name="nome">
        <br><br>
        <label class="form-label">Nome</label><br>
        <input required type="text" name="nome">
        <br><br>
        <input class="btn btn-success" type="submit" value="Submit">
        <button class="btn btn-danger"><a href="../">Torna indietro</a></button>
    </form>
</div>
{% endblock %}