{% extends "layout.html" %}

{% block headTitle %}
    C.R.I.N.G.E. SRL
{% endblock %}

{% block title %}
    Azienda generica
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Codice Fiscale</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Indirizzo</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Cellulare</th>
            <th scope="col">Ruolo ID ???</th>
            <!-- <th scope="col">Azioni</th> -->
        </tr>
    </thead>
    <tbody>
        {% for collaboratore in collaboratori %}
        <tr>
           <th scope="row">{{ collaboratore.codiceFiscale }}</th>
           <td>{{ collaboratore.nome }}</td>
           <td>{{ collaboratore.cognome }}</td>
           <td>{{ collaboratore.indirizzo }}</td>
           <td>{{ collaboratore.email }}</td>
           <td>{{ collaboratore.telefono }}</td>
           <td>{{ collaboratore.cellulare }}</td>
           <td>{{ collaboratore.ruolo_id }}</td>
           <!-- <td>
            <button class="button">Modifica</button>
            <button class="button">Cancella</button>
           </td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<button class="button"><a href="new/">Inserisci collaboratore</a></button>
<button class="button"><a href="/">Torna alla home</a></button>
{% endblock %}