{% extends "layout.html" %}

{% block headTitle %}
C.R.I.N.G.E. SRL
{% endblock %}

{% block title %}
Azienda generica
{% endblock %}

{% block content %}
<div class="">
    <div class="row text-gray-800 pt-3 rounded-t-md font-bold bg-blue-100 mx-5">
        <div class="col-2 m-auto">Codice Fiscale</div>
        <div class="col-1 m-auto">Nome</div>
        <div class="col-1 m-auto">Cognome</div>
        <div class="col-1 m-auto">Indirizzo</div>
        <div class="col-2 m-auto">Email</div>
        <div class="col-1 m-auto">Telefono</div>
        <div class="col-1 m-auto">Cellulare</div>
        <div class="col-1 m-auto">Ruolo</div>
        <!-- <div scope="col">Azioni</div> -->
    </div>

    {% for collaboratore in collaboratori %}
    <div class="row text-gray-800 bg-blue-100 mx-5">
        <div class="col-2 m-auto">{{ collaboratore.codiceFiscale }}</div>
        <div class="col-1 m-auto">{{ collaboratore.nome }}</div>
        <div class="col-1 m-auto">{{ collaboratore.cognome }}</div>
        <div class="col-1 m-auto">{{ collaboratore.indirizzo }}</div>
        <div class="col-2 m-auto">{{ collaboratore.email }}</div>
        <div class="col-1 m-auto">{{ collaboratore.telefono }}</div>
        <div class="col-1 m-auto">{{ collaboratore.cellulare }}</div>
        <div class="col-1 m-auto">{{ collaboratore.ruolo_id }}</div>
        <!-- <div>
            <button class="button">Modifica</button>
            <button class="button">Cancella</button>
           </div> -->
    </div>
    {% endfor %}

    <div class="mx-5 bg-blue-100 rounded-b-md text-gray-300">
        <a href="new/">
            <button class="rounded transition duration-300 button p-2 m-3 bg-blue-400 hover:bg-blue-800">Inserisci
                collaboratore</button>
        </a>
        <a href="/">
            <button class="rounded transition duration-300 button p-2 bg-blue-400 hover:bg-blue-800">Torna alla
                home</button>
        </a>
    </div>
</div>
{% endblock %}